language: node_js

node_js:
- node

before_deploy:
  - npm run build

deploy:
  provider: heroku
  api_key:
    secure: FvccpPkDm/T2uXn58mgWiKWUCASHPQio7unRe+XKLhqMLWcUJmjBnAg7xiJ1Mmqk5T6vlIZmGoYW/nzRwIKP/bsw76JK1wMyNoydSHqzJx3D+fqViOzlByswwvkma7eAuHl/p3Rk737bkEun1jHET0umFXoVS1FKgNFsWss9Q6ay6sfNJzZtfJsNoo4dmIgzrIuxu3/ZnqCTtUqAYocp31j2VWiy1Lju/7b6cHkqSCps30q/cCBsuEDudKtk+WQFcj5t7otvDoMvOxSbPLISQSrnVu25hYH7xJqkW75Lc1Ge0czjvyhjOJ/zxVOFj/5ICH1D3uo28RQ4KEz47AOC/asTgy0Qub1N7oSo9NVkEyXxGH+i5396UkWVTMOsIGCuNnrVkzl9idgYGcE4s+Ju0FjtUTca9JPjnEFiihJAsxJF8rFep7ZMxIQOG19e+9Yzz8kRb3L9BppejuNQxqJrBT//x3OKKYnkDiOVmEG1PMueUHGTJEnKTNVcR+szjsy0Q/lGyHF01CW3pnx5CvRU9kUeXlvOJYlI+ZIvQ9REE/pZSi+6vJOudfaPomKbZYSAr7mDOA41MZOd/iQuKq/57wx3BCWPjgA+pxjeBcoNUfh0wKLEXBv09fCRl85/GHfcA6FAMbFw7HBbt4baiN3Mt/Vx3S5yYGKB5EEI2OFs0Cc=
  app:
    master: sgi-extranet-web
    staging: sgi-extranet-web-staging

notifications:
  webhooks: https://outlook.office.com/webhook/fda6319a-169c-47c0-82da-282252ae0fe6@56334c91-7dfb-429e-a42f-d8d72d736139/TravisCI/7931db2c7ac249c5b14dff9813e10338/5aef3a55-a548-44bd-8847-1e840f04a861
